
@{
    ViewBag.Title = "Index";
}

<!-- Header -->
<div class="header" id="home">

    <!-- Navigation -->
    <div class="navigation">
        <nav class="navbar navbar-inverse navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">PUN10 CORP</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#agileabout">PROFILE</a></li>
                        <li><a href="#w3layoutsexplore">COMPANY</a></li>
                        <li><a href="#agitsworkw3ls">COLLABORATION</a></li>
                        <li><a href="#portfolio">PRODUCT</a></li>
                        <li><a href="#agiilecontactw3layouts">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- //Navigation -->
    <!-- Slider -->
    <div class="slider w3layouts agileits">
        <ul class="rslides w3layouts agileits" id="slider">
            <li>
                <img src="~/images/slide-1.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
            <li>
                <img src="~/images/slide-2.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
            <li>
                <img src="~/images/slide-3.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
            <li>
                <img src="~/images/slide-4.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
            <li>
                <img src="~/images/slide-5.jpg" alt="W3layouts Agileits">
                <div class="layer w3layouts agileits"></div>
            </li>
        </ul>
    </div>
    <!-- //Slider -->

</div>
<!-- //Header -->
<!-- Profile -->
<div class="agileabout" id="agileabout">
    <div class="container">

        <div class="col-md-6 col-sm-6 agileabout-grid agileabout-grid-1">
            <h1><span>Welcome To PUN10 CORP</span> You will love us...</h1>
            <h4>Our mission is to provide people with easiness.</h4>
            <p>PUN10 CORP (could be read as PUNTEN CORP) is a place where all inovation are created. Here, in our company, we created the most outstanding product that will help your daily needs.</p>
        </div>
        <div class="col-md-6 col-sm-6 agileabout-grid agileabout-grid-2">
            <img src="~/images/about.jpg" alt="W3layouts Agileits">
        </div>
        <div class="clearfix"></div>
        
    </div>
</div>
<!-- //About -->
<!-- Company -->
<div class="w3layoutsexplore" id="w3layoutsexplore">

    <div class="col-md-4 col-sm-4 w3layoutsexplore-grid w3layoutsexplore-grid-1">
        <img src="~/images/explore.jpg" alt="W3layouts Agileits">
    </div>
    <div class="col-md-8 col-sm-8 w3layoutsexplore-grid w3layoutsexplore-grid-2">
        <h2><span>What is our company all about?</span></h2>
        <ul>
            <li class="explore-1">
                <h4>Innovative product with the CHEAPEST PRICE</h4>
                <p>Our company always maintain our product to be the most innovative and having a good quality while keeping our prices low</p>
            </li>
            <li class="explore-2">
                <h4>Business of the FUTURE!</h4>
                <p>Technology created by our team always different from any tech company in the world! We ambitiously working on our project to create a groundbreaking product.</p>
            </li>
            <li class="explore-3">
                <h4>Reaching all side of THE WORLD</h4>
                <p>We make sure that people around the world can use our technology</p>
            </li>
            <li class="explore-4">
                <h4>Customer Satisfaction is NO.1</h4>
                <p>We care about our customer, and their feedback is our fuel to be more innovative</p>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>

</div>
<!-- //Company -->
<!-- Do -->
<div class="w3lsdoaits">

    <div class="col-md-6 col-sm-6 w3lsdoaits-grid w3lsdoaits-grid-1">
        <div class="w3lsdoaits-grid-1-text">
            <h3 class="h3-1">What We Do?</h3>
            <h3 class="h3-2">Innovation is our DNA</h3>
            <h4>We keep our mindset to always innovating to ensure customer satisfaction and positively contribute to the society with our newest technology!</h4>
        </div>
        <div class="w3lsdoaits-grid-1-image">
            <img src="~/images/company-5.jpg" alt="W3layouts Agileits">
            <div class="w3lsdoaits-layer">
                <h5>INNOVATION</h5>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-md-6 col-sm-6 w3lsdoaits-grid w3lsdoaits-grid-2">
        <div class="col-md-6 col-sm-6 w3lsdoaits-grid-2-grid w3lsdoaits-grid-2-grid-1">
            <img src="~/images/company-1.jpg" alt="W3layouts Agileits">
            <div class="w3lsdoaits-layer">
                <h5>AUTO</h5>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 w3lsdoaits-grid-2-grid w3lsdoaits-grid-2-grid-2">
            <img src="~/images/company-2.jpg" alt="W3layouts Agileits">
            <div class="w3lsdoaits-layer">
                <h5>IoT</h5>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 w3lsdoaits-grid-2-grid w3lsdoaits-grid-2-grid-3">
            <img src="~/images/company-3.jpg" alt="W3layouts Agileits">
            <div class="w3lsdoaits-layer">
                <h5>FUTURE</h5>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 w3lsdoaits-grid-2-grid w3lsdoaits-grid-2-grid-4">
            <img src="~/images/company-4.jpg" alt="W3layouts Agileits">
            <div class="w3lsdoaits-layer">
                <h5>ROBOT</h5>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

</div>
<!-- Do -->
<!-- Collaboration -->
<div class="agitsworkw3ls" id="agitsworkw3ls">

    <div class="col-md-6 col-sm-6 agitsworkw3ls-grid agitsworkw3ls-grid-1">
        <h3 class="h3-1">We Enjoy Working</h3>
        <h3 class="h3-2">Directly With You...</h3>

        <!-- Tabs -->
        <div class="tabs">
            <div class="sap_tabs">
                <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                    <ul class="resp-tabs-list">
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>CREATION</span></li>
                        <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>ANALYSIS</span></li>
                        <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>STRATEGY</span></li>
                        <div class="clearfix"></div>
                    </ul>

                    <div class="resp-tabs-container">
                        <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
                            <p>Our Company established in 2020. Even so, Our company have so many innovative product that you wont find in any tech company. Our most popular product is delivery robot.</p>
                        </div>
                        <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-2">
                            <p>The people nowadays LOVES automation. Everything that automated very helping them to do work even easier. So, our team always innovating to create product to provide them to our latest technology.</p>
                        </div>
                        <div class="tab-3 resp-tab-content" aria-labelledby="tab_item-3">
                            <p>With our cheap price and the most outstanding product, we positive that the market will go crazy over our product. We sell our product online and offline, so customer will easily find our product.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Tabs -->
        <!-- Stats -->
        <div class="stats" id="stats">

            <div class="stats-info">
                <div class="col-md-4 col-sm-4 stats-grid stats-grid-1">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='9' data-delay='3' data-increment="2">9</div>
                    <p>Completed Products</p>
                </div>
                <div class="col-md-4 col-sm-4 stats-grid stats-grid-2">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='8000' data-delay='3' data-increment="10">8000</div>
                    <p>Happy Clients</p>
                </div>
                <div class="col-md-4 col-sm-4 stats-grid stats-grid-3">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='32' data-delay='3' data-increment="1">32</div>
                    <p>Awards Won</p>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
        <!-- //Stats -->

    </div>

    <div class="col-md-6 col-sm-6 agitsworkw3ls-grid agitsworkw3ls-grid-2">
        <img src="~/images/work.jpg" alt="W3layouts Agileits">
    </div>
    <div class="clearfix"></div>

</div>
<!-- //Work -->
<!-- Product -->
<div class="portfolio w3layouts agileits" id="portfolio">

    <h3 class="h3-1">Witness Our Work</h3>
    <h3 class="h3-2">It Won't lie...</h3>

    <ul class="simplefilter w3layouts agileits">
        <li class="active w3layouts agileits" data-filter="all">All</li>
        <li data-filter="1">Category1</li>
        <li data-filter="2">Category2</li>
        <li data-filter="3">Category3</li>
        <li data-filter="4">Category4</li>
        <li data-filter="5">Category5</li>
    </ul>

    <div class="filtr-container w3layouts agileits">

        <div class="filtr-item w3layouts agileits portfolio-t" data-category="1, 5" data-sort="Busy streets">
            <a href="images/product-1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>Delivery Robot</h3>
                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="2, 5" data-sort="Luminous night">
            <a href="images/product-2.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-2.png" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>VR</h3>
                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="1, 4" data-sort="City wonders">
            <a href="images/product-3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>Assistance Robot 1</h3>
                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="3" data-sort="In production">
            <a href="images/product-4.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-4.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>Assistance Robot 2</h3>
                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="3, 4" data-sort="Industrial site">
            <a href="images/product-5.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-5.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>Vacuum cleaner</h3>
                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Peaceful lake">
            <a href="images/product-6.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-6.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>Tiny Robot</h3>
                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="1, 5" data-sort="City lights">
            <a href="images/product-7.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-7.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>Smart Thermostat</h3>
                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Dreamhouse">
            <a href="images/product-8.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-8.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>Smart Speaker</h3>
                    </figcaption>
                </figure>
            </a>
        </div>

        <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Dreamhouse">
            <a href="images/product-9.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                <figure>
                    <img src="~/images/product-9.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                    <figcaption>
                        <h3>IoT</h3>
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="clearfix"></div>

    </div>

</div>
<!-- //Product -->
<!-- Feedback -->
<div class="w3lfeedbackaits" id="feedback">

    <div class="w3lfeedbackaits-grid w3lfeedbackaits-grid-1">
        <img src="~/images/feedback.jpg" alt="W3layouts Agileits">
    </div>
    <div class="w3lfeedbackaits-grid w3lfeedbackaits-grid-2">

        <h3 class="h3-1">What People Say</h3>
        <h3 class="h3-2">They Mean It...</h3>
        <!-- Slider1 -->
        <div class="slider-1 w3layouts agileits">
            <ul class="rslides w3layouts agileits" id="slider1">
                <li>
                    <p>Most feedback from customer about our product is positive. So many of them impressed about our technology, and our innovation. </p>
                </li>
            </ul>
        </div>
        <!-- //Slider1 -->
    </div>
    <div class="clearfix"></div>

</div>
<!-- //Feedback -->
<!-- Contact -->
<div class="agiilecontactw3layouts" id="agiilecontactw3layouts">
    <div class="container">

        <h3 class="h3-1">Get In Touch!</h3>
        <h3 class="h3-2">It's Easy...</h3>

        <div class="col-md-6 col-sm-6 agiilecontactw3layouts-grid agiilecontactw3layouts-grid-1">
            <div class="agiilew3layoutscontact-grid">
                <form action="#" method="post">
                    <input type="text" class="text" name="Name" placeholder="YOUR NAME" required="">
                    <input type="text" class="text email" name="Email" placeholder="YOUR EMAIL" required="">
                    <textarea name="Message" placeholder="MESSAGE" required=""></textarea>
                    <input type="submit" class="more_btn" value="SEND MESSAGE">
                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 agiilecontactw3layouts-grid agiilecontactw3layouts-grid-2">
            <div class="agiilew3layoutsconnect-social">
                <h3><span>Follow Us!</span> It's Fun...</h3>
                <ul>
                    <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
                    <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
                    <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
                    <li><a href="#" class="linkedin" title="Go to Our Linkedin Page"></a></li>
                    <li><a href="#" class="tumblr" title="Go to Our Tumblr Page"></a></li>
                    <li><a href="#" class="youtube" title="Go to Our Youtube Channel"></a></li>
                    <li><a href="#" class="vimeo" title="Go to Our Vimeo Channel"></a></li>
                </ul>
            </div>
            <p>Subscribe to our newsletter and we will inform you about newest projects and promotions.</p>
            <div class="newsletter">
                <form action="#" method="post">
                    <input class="email" type="email" name="Email" placeholder="EMAIL" required="">
                    <input type="submit" class="submit" value="SUBSCRIBE">
                </form>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!-- //Contact -->
<!-- Map -->
<div id="map"></div>
<!-- //Map -->
<!-- Footer -->
<div class="footer">
    <div class="container">

        <div class="copyright slideanim">
            <p>&copy; 2017 Incorporated. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts </a></p>
        </div>

    </div>
</div>
<!-- //Footer -->
<!-- Custom-JavaScript-File-Links -->
<!-- Default-JavaScript -->
<script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>

<!-- Slider-JavaScript -->
<script src="~/js/responsiveslides.min.js"></script>
<script>
				$(function () {
					$("#slider, #slider1").responsiveSlides({
						auto: false,
						nav: true,
						speed: 1500,
						namespace: "callbacks",
						pager: true,
					});
				});
</script>
<!-- //Slider-JavaScript -->
<!-- Horizontal-Tabs-JavaScript -->
<script src="~/js/easyResponsiveTabs.js" type="text/javascript"></script>
<script type="text/javascript">
				$(document).ready(function () {
					$('#horizontalTab').easyResponsiveTabs({
						type: 'default',
						width: 'auto',
						fit: true,
					});
				});
</script>
<!-- Horizontal-Tabs-JavaScript -->
<!-- Number-Scroller-Effect-JavaScript -->
<script type="text/javascript" src="~/js/numscroller-1.0.js"></script>
<!-- //Number-Scroller-Effect-JavaScript -->
<!-- Tabs-JavaScript -->
<script src="~/js/jquery.filterizr.js"></script>
<script src="~/js/controls.js"></script>
<script type="text/javascript">
				$(function() {
					$('.filtr-container').filterizr();
				});
</script>
<!-- //Tabs-JavaScript -->
<!-- PopUp-Box-JavaScript -->
<script src="~/js/jquery.chocolat.js"></script>
<script type="text/javascript">
				$(function() {
					$('.filtr-item a').Chocolat();
				});
</script>
<!-- //PopUp-Box-JavaScript -->
<!-- Map-JavaScript -->
<script type="text/javascript" src="~/https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
				google.maps.event.addDomListener(window, 'load', init);
				function init() {
					var mapOptions = {
						zoom: 11,
						center: new google.maps.LatLng(40.6700, -73.9400),
						styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
					};
					var mapElement = document.getElementById('map');
					var map = new google.maps.Map(mapElement, mapOptions);
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(40.6700, -73.9400),
						map: map,
					});
				}
</script>
<!-- //Map-JavaScript -->
<!-- Slide-To-Top JavaScript -->
<script type="text/javascript">
				$(document).ready(function() {
					var defaults = {
						containerID: 'toTop',
						containerHoverID: 'toTopHover',
						scrollSpeed: 100,
						easingType: 'linear',
					};
					$().UItoTop({ easingType: 'easeOutQuart' });
				});
</script>
<a href="#" id="toTop" class="stuoyal3w stieliga" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
<!-- //Slide-To-Top JavaScript -->
<!-- Smooth-Scrolling-JavaScript -->
<script type="text/javascript" src="~/js/move-top.js"></script>
<script type="text/javascript" src="~/js/easing.js"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll, .navbar li a, .footer li a").click(function(event){
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
</script>
<!-- //Smooth-Scrolling-JavaScript -->
<!-- Bootstrap-JavaScript -->
<script type="text/javascript" src="~/js/bootstrap.min.js"></script>

<!-- //Custom-JavaScript-File-Links -->

<!-- //Body -->
